*, body { 
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Calibri", "Arial", sans-serif;
}

h4 { font-family: Georgia; line-height: 200%; font-style: italic; font-weight: 100; font-size: 160%; }

/* Header Styles */
header {
	background: #f1f1f1;
	height: 100px;
}

header #logo {
	height: 65px;
}

header nav {
	position: absolute;
	top: 7px;
	right: 7px;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	display: inline-block;
	font-weight: bold;
	color: #5CCEEE;
	border-left: 1px solid #aaa;
	padding-left: 5px;
	font-size: 13px;
	cursor: pointer;
}
header nav ul li:hover {
	color: #24C0EB;
}
header nav ul li:first-child {
	border-left: none;
}

header #mode_switch {
	background: #E6D1A1;
	padding: 8px;
}
header #mode_switch table {
	border: 0;
	border-collapse: collapse;
	margin: 0px auto;
}
header #mode_switch table #edit {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}
header #mode_switch table #test {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
header #mode_switch .mode_button {
	background: #F4F0E5;
	padding: 0px 10px;
	font-size: 15px;
	font-weight: bold;
	color: #444;
	border-radius: 5px;
	border: 1px solid #977E77;
	padding: 3px 15px;
	text-shadow: white 1px 1px 1px;
	cursor: pointer;
}
header #mode_switch .mode_button:hover {
	background: #ccb;
}
header #mode_switch .selected {
	background: #999;
}
header #mode_switch .selected:hover {
	background: #999;
}

/* Board Design Tab */
#edit_board, #edit_pieces {
	margin-right: 300px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 15px;
}

#board_design #size_text {
	font-size: 15px;
}
#board_design #size {
	padding: 5px;
}

#slotsArea {
	padding: 20px;
	height: 460px;
	overflow:auto;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 10px;
	position: relative;
}

#slotsArea .info_text {
	margin: 0 auto; 
	width: 160px; 
	margin-top: 170px; 
	color: #bbb;
}

#board_background,
#board_slots {
	position: absolute;
	top: 5;
	left: 5;
}

#board_slots {
	z-index: 10;
}

.row {
	clear: both;
}
.slot { 
	height: 60px; 
	width: 60px; 
	background: #fafafa;
	border: 1px solid #aaa;
	float: left;
}
.slot .tile {
	width: 100%;
	height: 100%;
	border: 0;
	position: relative;
	text-align: center;
	cursor: pointer;
}
#board_design .slot .tile span.delete {
	display: none;
	font-size: 12px;
	top: auto;
	right: auto;
}
#board_design .slot .tile:hover .delete {
	display: block;
	margin: auto;
}
#board_design .slot .tile:hover .delete:hover {
	color: orange;
}

#tileChoices {
}

#addTileType {
	margin-bottom: 10px;
}
#board_design .tileType, #tileChoices .tile {
	display: inline-block;
	position: relative;
	text-align: center;
	background: #E0C4AE;
	border-radius: 5px;
	margin: 5px;
	min-width: 70px;
	cursor: pointer;
}
#board_design .tileType .colorTile, #tileChoices .tile .colorTile{ 
	height: 50px; 
	width: 50px; 
	margin: 10px;
}

#slotRulesPanel #pathPicker {
	background: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0 auto;
}
#slotRulesPanel {
	display: none;
}

#pathPicker .arrow {

}
#pathPicker .arrow.arrow-hide {
	display: none;
}
#pathPicker .arrow-selected {
	display: none;
}
#pathPicker .arrow-selected.arrow-show {
	display: inline;
}

.rules_panel {
	padding: 20px; 
	font-size: 60%; 
	line-height: 300%; 
	width: 260px; 
	color: #cecece;
	float: left; 
	background: #2b2b2b;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.rules_panel span {
	font-size: 15px;
}

.rule {
	border: 1px solid white;
	padding: 10px;
	margin: 10px 0;
}

/* Player Design Tab */
.scroll_container {
	position: relative;
	background: #F4F0E5;
	overflow: hidden;
	margin-bottom: 25px;
}
.scroll {
	position: absolute;
	background: white;
	z-index: 10;
	top: 0;
	bottom: 0;
	width: 25px;
	font-size: 25px;
	border: 1px solid #666;
	cursor: pointer;
}
.scroll i {
	position: absolute;
	top: 50%;
	height: 25px;
	margin-top: -12px;
	text-align: center;
	display: block;
	left: 50%;
	width: 25px;
	margin-left: -12px;
}
.scrollLeft {
	left: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.scrollRight {
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.scroll_list {
	margin-left: 27px;
	margin-right: 27px;
	padding: 12px 5px;
	position: relative;
	white-space: nowrap;
	left: 0;
}
#player_design #addPieceType {
	margin-top: 10px;
	margin-bottom: 10px;
}
.button i.icon-plus {
	color: green;
	margin-right: 3px;
	font-size: 15px;
}
.button i.icon-minus {
	color: red;
	margin-right: 3px;
	font-size: 15px;
}
.button {
	padding:5px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #AAA;
	cursor: pointer;
}
#player_design .pieceType, #player_design .piece {
	display: inline-block;
	text-align: center;
	background: #E0C4AE;
	border-radius: 5px;
	margin: 5px;
	min-width: 70px;
	position: relative;
	cursor: pointer;
}
#player_design .pieceType .colorPiece, #player_design .piece .colorPiece {
	width: 50px;
	height: 50px;
	margin: 6px auto;
	border-radius: 25px;
}
.pieceType img, .piece img {
	height: 50px;
}
.pieceType p, .piece p {
	margin: 6px auto;
}
#player_design .delete, #board_design .delete {
	position: absolute;
	color: red;
	font-size: 20px;
	top: -8px;
	right: -5px;
	cursor: pointer;
}

#player_design #playerList {
	margin-top: 10px;
}
#player_design .player { 
	width: 22%; 
	min-height: 250px; 
	padding: 5px; 
	float: left;
	background: #C3E6D4;
	margin-right: 10px;
	border-radius: 10px;
}
#player_design .player p {
	font-size: 18px;
	text-align: center;
}

/* Settings Tab */
#move_decider_options {
	display: none;
}

.sansa p { font-size: 70%; line-height: 200%; }

/*** Tab Styles ***/
#vtab {
}
#vtab > ul > li {
	width: 110px;
	background-color: #fff !important;
	list-style-type: none;
	display: block;
	text-align: center;
	margin: auto;
	line-height: 65px;
	font-size: 160%;
	padding-bottom: 10px;
	border: 1px solid #fff;
	position: relative;
	border-right: none;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	cursor: pointer;
}
#vtab > ul > li.home {
	//background: url('../images/home.png') no-repeat center center;
}
#vtab > ul > li.login {
	background: url('../images/login.png') no-repeat center center;
}
#vtab > ul > li.selected {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	border: 1px solid #ddd;
	border-right: none;
	z-index: 10;
	background-color: #fafafa !important;
	position: relative;
	
}
#vtab > ul {
	float: left;
	width: 110px;
	text-align: left;
	display: block;
	margin: auto 0;
	padding: 0;
	position: relative;
}
#vtab > div {
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 0 12px;
	position: absolute;
	top: 100px; /* header */
	left: 110px; /* tabs */
	bottom: 0;
	right: 0;
	overflow: auto;
}
#loginForm label {
	float: left;
	width: 100px;
	text-align: right;
	clear: left;
	margin-right: 15px;
}
#loginForm fieldset {
	border: none;
}
#loginForm fieldset > div {
	padding-top: 3px;
	padding-bottom: 3px;
}
#loginForm #login {
	margin-left: 115px;
}
		
/* Testing */
#test_tab {
	display: none;
}
#test_debug {
	border: 1px solid #aaa;
	margin: 10px auto;
	height: 90px;
	overflow-y: scroll;
	max-width: 650px;
}
#test_debug p {
	padding: 3px;
}
#test_debug p:nth-child(odd) {
	background-color: #f5f5f5;
}
#test_debug p:nth-child(even) {
	background-color: #fff;
}
#test_debug p.warning {
	color:#FFCC00;
}
#test_debug p.warning:before {
	content: "Warning: ";
}
#test_debug p.error {
	color:#CC0000;
}
#test_debug p.error:before {
	content: "Error: ";
}

/* Dialogs */
.dialog {
	display: none; /* hide initially */
}